img {
    width: 31%;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    outline-style: auto;
    padding-left: 55px;
    padding-right: 55px;
}

p {
    font-size: 25px;
    padding-left: 75px;
    padding-right: 75px;
}

h2 {
    font-size: 40px;
}

