.nav-link {
    color: #E1DBDB;
}

.nav-link:hover {
    background-color: #E1DBDB;
    color: black;
}

#nlist {
    color: black;
}

div.container {
    background-color: #E1DBDB;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#storeItem {
    width: 186px;
    height: 279px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

div img {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

#logo, #logIn, #cart {
    border-width: 0px;
}

#price {
    color: #279A3E;
}

div#login {
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    width: 20%;
}

div#login input{
    margin: auto;
    margin-bottom: 10px;
   
}

h3 {
    margin: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button#save {
    margin-top: 10px;
}

a#sub {
    color: black;
    text-decoration: none;
}

a#sub2 {
    color: black;
    text-decoration: none;
}

#buyBtn {
    margin-bottom: 10px;
}

#checkout {
    margin-top: 10px;
}

#rightN {
  position: absolute;
  right: 0px;
  width: 150px;
}

div#shopItem {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}